<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Report Backtest NFPY</title>
</head>
<body>
<!-- TITLE -->
<h1>{{ title }}</h1>
<a href="index.html">Index</a>
<hr class="shadow">

<!-- UIDs list -->
<h3><a name="uidList"></a>List of UIDs</h3>
<h4>Instruments:</h4>
{%- for uid in res.keys() if not uid == '__aggregated_results__' -%}
<a href="#{{ uid }}">{{ uid }}</a><br>
{% endfor -%}
<hr>

<!-- AGGREGATED RESULTS -->

<h2>Summary</h2>
{%- set summary = res.pop('__aggregated_results__') -%}
<div>
    <h4>Strategy</h4>
    <p>Strategy --- {{ summary.name }}</p>
    <p>Description</p>
    <p>{{ summary.description }}</p>
    <table>
        {%- for k, p in summary.parameters.items() -%}
        <tr>
            {%- if loop.index == 1 -%}
            <td style="vertical-align: middle;" rowspan="{{ summary.parameters | length }}">Strategy parameters:</td>
            {%- endif -%}
            <td style="vertical-align: middle;">{{ k }}</td>
            <td style="text-align: right; vertical-align: middle;">{{ p }}</td>
        </tr>
        {%- endfor -%}
        {%- for k, p in summary.sizer.items() -%}
        <tr>
            {%- if loop.index == 1 -%}
            <td style="vertical-align: middle;" rowspan="{{ summary.sizer | length }}">Sizer parameters:</td>
            {%- endif -%}
            <td style="vertical-align: middle;">{{ k }}</td>
            <td style="text-align: right; vertical-align: middle;">{{ p }}</td>
        </tr>
        {%- endfor -%}
    </table>
</div>
<div>
    <h4>Summary of results</h4>
    <table>
        <tr>
            <td style="vertical-align: middle;">Total number of tests performed</td>
            <td style="text-align: right; vertical-align: middle;">{{ summary.tests_performed }}</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">Average return</td>
            <td style="text-align: right; vertical-align: middle;">{{ '%.2f' | format(summary.avg_return|float) }} %</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">Average number of buy</td>
            <td style="text-align: right; vertical-align: middle;">{{ '%.2f' | format(summary.avg_buy|float) }}</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">Average number of sell</td>
            <td style="text-align: right; vertical-align: middle;">{{ '%.2f' | format(summary.avg_sell|float) }}</td>
        </tr>
    </table>
</div>

<!-- UID RESULTS  -->
<h2>Detailed results</h2>

<!-- Running through instruments -->
{%- for uid, asset in res.items()|sort -%}
<hr class="light">
<a name="{{ uid }}"></a><h4><a href="#uidList">Top</a> - {{ uid }}</h4>

<div>
    <table>
        <tr>
            <td style="vertical-align: middle;">Portfolio value</td>
            <td style="vertical-align: middle;">{{ '%.2f' | format(asset.initial_value|float) }}</td>
            <td style="text-align: center; vertical-align: middle;">&#8594;</td>
            <td style="vertical-align: middle;">{{ '%.2f' | format(asset.final_value|float) }}</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">Strategy return</td>
            <td></td>
            <td></td>
            <td style="vertical-align: middle;">{{ '%.2f' | format(asset.tot_return|float) }} %</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">Total trades</td>
            <td style="vertical-align: middle;">buy {{ asset.buy }}</td>
            <td style="vertical-align: middle;">sell {{ asset.sell }}</td>
        </tr>
    </table>
</div>

<!-- Market model -->
<div>
    <div>
        <img src="{{ asset.img_results }}" alt="backtest results" class="backtest-res">
    </div>
    <div>
        <h5>Executed trades</h5>
        {{ asset.trades_table }}
    </div>
</div>

{%- endfor -%}
<hr>

</body>
</html>
