<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Report Backtest NFPY</title>
  </head>
  <body>
    <!-- TITLE -->
    <div class="header">
      <div class="titleBox">
        <h1>{{ title }}</h1>
        <a name="main_title" href="index.html">Index</a>
        <hr>
      </div>

      <!-- UIDs list -->
      <div class="uidList">
        <h3><a name="uidList_link"></a>List of UIDs</h3>
        <div class="uidListMultiCol">
          {%- for uid in res.keys() if not uid == '__aggregated_results__' -%}
          <a href="#{{ uid }}">{{ uid }}</a><br>
          {% endfor -%}
        </div>
        <hr>
      </div>
    </div>

    <!-- AGGREGATED RESULTS -->
    <div class="reportBody">
      <div class="titleReport">
        <h2>Summary</h2>
      </div>

      <div class="base-container">
        <div class="container-huge">
          {%- set summary = res.pop('__aggregated_results__') -%}
          <h3>Strategy</h3>
          <p>Strategy --- {{ summary.name }}</p>
          <p>Description</p>
          {{ summary.description }}
          <table class="simple">
            <thead>
              <tr>
                <th colspan="3">Strategy</th>
              </tr>
            </thead>
            <tbody>
            {%- for k, p in summary.parameters.items() -%}
              <tr>
                {%- if loop.index == 1 -%}
                  <td class='anag-prop' rowspan="{{ summary.parameters | length }}">Strategy parameters</td>
                {%- endif -%}
                <td class='anag-value'>{{ k }}</td>
                <td class='anag-value'>{{ p }}</td>
              </tr>
            {%- endfor -%}
            {%- for k, p in summary.sizer.items() -%}
              <tr>
                {%- if loop.index == 1 -%}
                  <td class='anag-prop' rowspan="{{ summary.sizer | length }}">Sizer parameters</td>
                {%- endif -%}
                <td class='anag-value'>{{ k }}</td>
                <td class='anag-value'>{{ p }}</td>
              </tr>
            {%- endfor -%}
            </tbody>
          </table>
        </div>
        <div class="container-tiny">
          <h3>Summary of results</h3>
          <table class="simple">
            <thead>
              <tr>
                <th>#</th><th>UID</th><th>Return</th><th># BUY</th><th># SELL</th>
              </tr>
            </thead>
            <tbody>
              {%- for uid, asset in res.items()|sort -%}
              <tr>
                <td class='anag-prop'>{{ loop.index }}</td>
                <td class='anag-value'><a href="#{{ uid }}">{{ uid }}</a><br></td>
                <td class='anag-value'>{{ '%.2f' | format(asset.tot_return|float) }} %</td>
                <td class='anag-value'>{{ asset.buy }}</td>
                <td class='anag-value'>{{ asset.sell }}</td>
              </tr>
              {%- endfor -%}
              <tr>
                <td class='anag-prop'>-</td>
                <td class='anag-value'>Averages</td>
                <td class='anag-value'>{{ '%.2f' | format(summary.avg_return|float) }} %</td>
                <td class='anag-value'>{{ '%.2f' | format(summary.avg_buy|float) }}</td>
                <td class='anag-value'>{{ '%.2f' | format(summary.avg_sell|float) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- DETAILED RESULTS  -->
      <div class="base-container">
        <h2>Detailed results</h2>

        <!-- Running through instruments -->
        {%- for uid, asset in res.items()|sort -%}
        <div class="base-container">
          <div class="container-link">
            <hr class="light">
            <h4><a name="{{ uid }}"></a><a href="#main_title">Top</a> - {{ uid }}</h4>
          </div>

          <div class="container-small">
            <table class="simple">
              <thead>
                <tr>
                  <th colspan="3">General data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class='anag-prop'>Final value</td>
                  <td style="text-align: center; vertical-align: middle;">&#8594;</td>
                  <td class='anag-value'>{{ '%.2f' | format(asset.final_value|float) }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Strategy return</td>
                  <td class='anag-value'></td>
                  <td class='anag-value'>{{ '%.2f' | format(asset.tot_return|float) }} %</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Total trades</td>
                  <td class='anag-value'>buy {{ asset.buy }}</td>
                  <td class='anag-value'>sell {{ asset.sell }}</td>
                </tr>
              </tbody>
            </table>
            <br><br>
            <h5>Executed trades</h5>
            {{ asset.trades_table }}
          </div>
          <div class="container-large">
            <img src="{{ asset.img_results }}" alt="Backtest results" class="normal-plot">
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>

  </body>
</html>
