<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <a name="main_title"></a>
    <title>Report NFPY</title>
  </head>
  <body>
    <!-- TITLE -->
    <div class="header">
      <div class="titleBox">
        <h1><a name="pageTop"></a>{{ title }}</h1>
        <a href="index.html">Index</a>
        <hr>
      </div>

      <!-- UIDs list -->
      <div class="uidList">
        <h3><a name="uidList_link"></a>List of UIDs</h3>
        <div class="uidListMultiCol">
          {%- for uid, val in res.items()|sort -%}
            <a href="#{{ uid }}">{{ uid }}</a> - {{ val.info["name"] }}<br>
          {% endfor -%}
        </div>
        <hr>
      </div>
    </div>

    <!-- REPORTS -->
    <div class="reportBody">
      <div class="titleReport">
        <h3>Reports</h3>
      </div>

      <!-- Companies -->
      {%- for uid, val in res.items()|sort -%}
      <div class="base-container">
        <div class="container-link">
          <hr class="light">
          <h4><a name="{{ uid }}"></a><a href="#main_title">Top</a> - {{ uid }}</h4>
        </div>

        <!-- Market model -->
        <div class="container-tiny">
          <table class="simple">
            <thead>
              <tr>
                <th colspan="3">General data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='anag-prop'>Name</td><td colspan="2" class='anag-value'>{{ val.info["name"] }}</td>
              </tr>
              <tr>
                <td class='anag-prop'>Equity</td><td colspan="2" class='anag-value'>{{ val.info["equity"] }}</td>
              </tr>
              <tr>
                <td class='anag-prop'>Country</td><td colspan="2" class='anag-value'>{{ val.info["country"] }}</td>
              </tr>
              <tr>
                <td class='anag-prop'>Currency</td><td colspan="2" class='anag-value'>{{ val.info["currency"] }}</td>
              </tr>
              <tr>
                <td class='anag-prop'>Sector</td><td colspan="2" class='anag-value'>{{ val.info["sector"] }}</td>
              </tr>
              <tr>
                <td class='anag-prop'>Industry</td><td colspan="2" class='anag-value'>{{ val.info["industry"] }}</td>
              </tr>
              <tr>
                <td colspan="3" style="font-weight:bold;text-align:center;padding-top:5px;">Performance</td>
              </tr>
              <tr>
                <td class='anag-prop'>Date</td><td colspan="2" class='anag-value'>{{ val.last_price_date }}</td>
              </tr>
              <tr>
                <td class='anag-prop'>Last price</td><td class='anag-value'>{{ '%.2f'| format(val.last_price|float) }} {{ val.info["currency"] }}</td><td class='anag-value'>-</td>
              </tr>
              {%- if val.has_dcf -%}
              <tr>
                <td class='anag-prop'>DCF value</td><td class='anag-value'>{{ '%.2f'| format(val.fair_value_dcf|float) }} {{ val.info["currency"] }}</td>
                <td class='anag-value'>{{ '%0.2f'| format(val.ret_dcf|float) }} %</td>
              </tr>
              {%- endif -%}
              {%- if val.has_ddm -%}
              <tr>
                <td class='anag-prop'>DDM value</td><td class='anag-value'>{{ '%.2f'| format(val.fair_value_no_growth|float) }} {{ val.info["currency"] }}</td>
                <td class='anag-value'>{{ '%0.2f'| format(val.ret_zg|float) }} %</td>
              </tr>
              <tr>
                <td class='anag-prop'>DDM value</td><td class='anag-value'>{{ '%.2f'| format(val.fair_value_with_growth|float) }} {{ val.info["currency"] }}</td>
                <td class='anag-value'>{{ '%0.2f'| format(val.ret_wg|float) }} %</td>
              </tr>
              {%- endif -%}
            </tbody>
          </table>
          <img src="{{ val.img_prices }}" alt="History of prices" class="normal-plot">
        </div>

        <!-- Discounted Cash Flows model -->
        {%- if val.has_dcf -%}
        <div class="container-normal">
          <h5>Discounted Cash Flows Model</h5>
          {{ val.df }}
        </div>
        {%- endif -%}

        <!-- Dividend Discount model -->
        {%- if val.has_ddm -%}
        <div class="container-tiny">
          <h5>Dividend Discount Model</h5>
          <img src="{{ val.div_fig }}" alt="Dividends plot" class="normal-plot">
        </div>
        {%- endif -%}

      </div>
      {%- endfor -%}
    </div>

  </body>
</html>
