{% set current_asset_info = current_asset_dict["info"] %}
<table>
  <tr>
    <td class='anag-prop'>Base country</td><td class='anag-value'>{{ current_asset_info["base_country"] }}</td>
    <td class='anag-prop'>Base FX</td><td class='anag-value'>{{ current_asset_info["base_fx"] }}</td>
  </tr>
  <tr>
    <td class='anag-prop'>Target country</td><td class='anag-value'>{{ current_asset_info["tgt_country"] }}</td>
    <td class='anag-prop'>Target FX</td><td class='anag-value'>{{ current_asset_info["tgt_fx"] }}</td>
  </tr>
</table>

{%- if "MADM" in current_asset_dict %}
  {% set current_model_res = current_asset_dict["MADM"] %}
  {%- include 'MADM.html' with context -%}
{%- endif -%}

{%- if "TRD" in current_asset_dict %}
  {% set current_model_res = current_asset_dict["TRD"] %}
  {%- include 'TRD.html' with context -%}
{%- endif -%}
