{% set current_asset_info = current_asset_dict["info"] %}
<table>
  <tr>
    <td class='anag-prop'>Isin</td><td class='anag-value'>{{ current_asset_info["isin"] }}</td>
    <td class='anag-prop'>Company</td><td class='anag-value'><a href="#{{ current_asset_info['company_uid'] }}">{{ current_asset_info["company_uid"] }}</a></td>
    <td class='anag-prop'>Country</td><td class='anag-value'>{{ current_asset_info["country"] }}</td>
  </tr>
  <tr>
    <td class='anag-prop'>Index</td><td class='anag-value'><a href="#{{ current_asset_info['index'] }}">{{ current_asset_info["index"] }}</a></td>
    <td class='anag-prop'>Description</td><td class='anag-value'> {{ current_asset_info["description"] }}</td>
    <td class='anag-prop'>Currency</td><td class='anag-value'>{{ current_asset_info["currency"] }}</td>
  </tr>
</table>

{%- if "MEDM" in current_asset_dict %}
  {% set current_model_res = current_asset_dict["MEDM"] %}
  {%- include 'MEDM.html' with context -%}
{%- endif -%}

{%- if "TRD" in current_asset_dict %}
  {% set current_model_res = current_asset_dict["TRD"] %}
  {%- include 'TRD.html' with context -%}
{%- endif -%}
