<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Report NFPY</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <h3><a name="uidList"></a>List of UIDs</h3>
    {%- for res_type, res_uids in all_res.items() -%}
      <h4>{{ res_type }}:</h4>
      {%- for uid in res_uids.keys() -%}
        <a href="#{{ uid }}">{{ uid }}</a>
      {% endfor -%}
    {% endfor -%}

    <h2>Reports</h2>
    {%- for res_type, res_uids in all_res.items() -%}
      <h3>{{ res_type }}</h3>
      {%- for uid, res_models in res_uids.items() -%}
        <a name="{{ uid }}"></a><h4><a href="#uidList">Top</a> - {{ uid }}</h4>
        {% set asset = assets[uid] %}
        {%- include res_type ~ '.html' with context -%}
        {%- for model, res in res_models -%}
          {%- include model ~ '.html' with context -%}
        {%- endfor -%}
      {%- endfor -%}
    {%- endfor -%}
  </body>
</html>
