<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Report NFPY</title>
  </head>
  <body>
    <!-- TITLE -->
    <div class="header">
      <div class="titleBox">
        <h1>{{ title }}</h1>
        <a name="main_title" href="index.html">Index</a>
        <hr>
      </div>

      <!-- UIDs list -->
      <div class="uidList">
        <h3><a name="uidList_link"></a>List of UIDs</h3>
        <div class="uidListMultiCol">
          {%- for ticker, val in res.items()|sort -%}
          <a href="#{{ ticker }}">{{ ticker }}</a> - {{ val.info["description"] }}<br>
          {%- endfor -%}
        </div>
        <hr>
      </div>
    </div>

    <!-- REPORTS -->
    <div class="reportBody">
      <div class="titleReport">
        <h3>Report</h3>
      </div>

      <!-- Equities -->
      {%- for ticker, val in res.items()|sort -%}
      <div class="base-container">
        <div class="container-link">
          <hr class="light">
          <h4><a name="{{ ticker }}"></a><a href="#main_title">Top</a> - {{ val.info["description"] }}</h4>
        </div>

        <!-- Market model -->
        <div class="container-small">
          <div class="container-normal">
            <table class="simple">
              <thead>
                <tr>
                  <th colspan="2">General data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class='anag-prop'>Isin</td><td class='anag-value'>{{ val.info["isin"] }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Company</td><td class='anag-value'>{{ val.info["company"] }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Name</td><td class='anag-value'>{{ val.info["description"] }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Index</td><td class='anag-value'>{{ val.info["index"] }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Country</td><td class='anag-value'>{{ val.info["country"] }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Currency</td><td class='anag-value'>{{ val.info["currency"] }}</td>
                </tr>
                <tr>
                  <td colspan="2" style="font-weight:bold;text-align:center;padding-top:5px;">Performance</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Date</td><td class='anag-value'>{{ val.last_price_date }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Last price</td><td class='anag-value'>{{ '%.3f'| format(val.last_price|float) }} {{ val.info["currency"] }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Dividends TTM</td><td class='anag-value'>{{ '%.2f'| format(val.ttm_div|float) }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Dividends Yield TTM</td><td class='anag-value'>{{ '%.2f'| format(val.ttm_yield|float) }}%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="container-normal">
            {{ val.stats }}
            <div style="text-align:center">
              {{ val.alerts_table }}
            </div>
          </div>
        </div>
        <div class="container-large">
          <div class="container-normal">
            <img src="{{ val.img_ma_plot }}" alt="MA crosses" class="normal-plot">
          </div>
          <div class="container-normal">
            <img src="{{ val.img_prices_long }}" alt="Price history vs benchmark" class="normal-plot">
          </div>
      </div>
      {%- endfor -%}
    </div>

  </body>
</html>
