<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Report NFPY</title>
  </head>
  <body>
    <!-- TITLE -->
    <a name="head"></a>
    <div class="header">
      <div class="titleBox">
        <h1>{{ title }}</h1>
        <a name="main_title" href="index.html">Index</a>
        <hr>
      </div>

      <!-- UIDs list -->
      <div class="uidList">
        <h3><a name="uidList_link"></a>List of UIDs</h3>
        <div class="uidListMultiCol">
          {%- for ticker, val in res.items()|sort -%}
            <a href="#{{ ticker }}">{{ ticker }}</a> - {{ val.info["description"] }}<br>
          {%- endfor -%}
        </div>
        <hr>
      </div>
    </div>

    <!-- REPORTS -->
    <div class="reportBody">
      <div class="titleReport">
        <h3>Report</h3>
      </div>

      <!-- Equities -->
      {%- for ticker, val in res.items()|sort -%}
        <div class="base-container">
          <div class="container-link">
            <hr class="light">
            <h4><a name="{{ ticker }}"></a><a href="#head">Top</a> - {{ val.info["description"] }}</h4>
          </div>

          <!-- FIRST COLUMN -->
          <div class="container-small">
            <div class="container-normal">
              <div class="section-box">

                <!-- General -->
                <div class="first-section-header">General data</div>
                <table class="simple">
                  <tbody>
                    <tr>
                      <td class='anag-prop'>Isin</td><td colspan="2" class='anag-value'>{{ val.info["isin"] }}</td>
                    </tr>
                    <tr>
                      <td class='anag-prop'>Company</td><td colspan="2" class='anag-value'>{{ val.info["company"] }}</td>
                    </tr>
                    <tr>
                      <td class='anag-prop'>Name</td><td colspan="2" class='anag-value'>{{ val.info["description"] }}</td>
                    </tr>
                    <tr>
                      <td class='anag-prop'>Index</td><td colspan="2" class='anag-value'>{{ val.info["index"] }}</td>
                    </tr>
                    <tr>
                      <td class='anag-prop'>Country</td><td colspan="2" class='anag-value'>{{ val.info["country"] }}</td>
                    </tr>
                    <tr>
                      <td class='anag-prop'>Currency</td><td colspan="2" class='anag-value'>{{ val.info["currency"] }}</td>
                    </tr>
                  </tbody>
                </table>

                <!-- Performance -->
                <div class="section-header">Performance</div>
                <table class="simple">
                  <tbody>
                    <tr>
                      <td class='anag-prop'></td>
                      <td class='anag-prop' style="text-align: center;">Price</td>
                      <td class='anag-prop' style="text-align: center;">Date</td>
                    </tr>
                    <tr>
                      <td class='anag-prop'></td>
                      <td class='anag-prop'>{{ '%.2f'| format(val.last_price|float) }} {{ val.info["currency"] }}</td>
                      <td class='anag-prop'>{{ val.last_price_date }}</td>
                    </tr>
                  </tbody>
                </table>

                <!-- Valuations -->
                <div class="section-header">Valuation summary</div>

                {%- if val.has_dcf or val.has_ddm -%}
                  <table class="simple">
                    <tbody>
                      <tr>
                        <td class='anag-prop'></td>
                        <td class='anag-prop' style="text-align: center;">FV</td>
                        <td class='anag-prop' style="text-align: center;">Return</td>
                      </tr>
                      {%- if val.ddm_success -%}
                        {%- if val.ddm_res_no_gwt is not none -%}
                          <tr>
                            <td class='anag-prop'>DDM No growth</td>
                            <td class='anag-value'>{{ '%.2f'| format(val.ddm_res_no_gwt["fv"]|float) }} {{ val.info["currency"] }}</td>
                            {%- if val.ddm_res_no_gwt["ret"] > 0 -%}
                              <td class='positive-value'>{{ '%.0f'| format((val.ddm_res_no_gwt["ret"]*100)|float) }} %</td>
                            {%- else -%}
                              <td class='negative-value'>{{ '%.0f'| format((val.ddm_res_no_gwt["ret"]*100)|float) }} %</td>
                            {%- endif -%}
                          </tr>
                        {%- endif -%}
                        {%- if val.ddm_res_manual is not none -%}
                          <tr>
                            <td class='anag-prop'>DDM Manual growth</td>
                            <td class='anag-value'>{{ '%.2f'| format(val.ddm_res_manual["fv"]|float) }} {{ val.info["currency"] }}</td>
                            {%- if val.ddm_res_manual["ret"] > 0 -%}
                              <td class='positive-value'>{{ '%.0f'| format((val.ddm_res_manual["ret"]*100)|float) }} %</td>
                            {%- else -%}
                              <td class='negative-value'>{{ '%.0f'| format((val.ddm_res_manual["ret"]*100)|float) }} %</td>
                            {%- endif -%}
                          </tr>
                        {%- endif -%}
                        {%- if val.ddm_res_hist is not none -%}
                          <tr>
                            <td class='anag-prop'>DDM Hist growth</td>
                            <td class='anag-value'>{{ '%.2f'| format(val.ddm_res_hist["fv"]|float) }} {{ val.info["currency"] }}</td>
                            {%- if val.ddm_res_hist["ret"] > 0 -%}
                              <td class='positive-value'>{{ '%.0f'| format((val.ddm_res_hist["ret"]*100)|float) }} %</td>
                            {%- else -%}
                              <td class='negative-value'>{{ '%.0f'| format((val.ddm_res_hist["ret"]*100)|float) }} %</td>
                            {%- endif -%}
                          </tr>
                        {%- endif -%}
                        {%- if val.ddm_res_roe is not none -%}
                          <tr>
                            <td class='anag-prop'>DDM ROE growth</td>
                            <td class='anag-value'>{{ '%.2f'| format(val.ddm_res_roe["fv"]|float) }} {{ val.info["currency"] }}</td>
                            {%- if val.ddm_res_roe["ret"] > 0 -%}
                              <td class='positive-value'>{{ '%.0f'| format((val.ddm_res_roe["ret"]*100)|float) }} %</td>
                            {%- else -%}
                              <td class='negative-value'>{{ '%.0f'| format((val.ddm_res_roe["ret"]*100)|float) }} %</td>
                            {%- endif -%}
                          </tr>
                        {%- endif -%}
                      {%- endif -%}
                      {%- if val.dcf_success -%}
                        <tr>
                          <td class='anag-prop'>DCF FCFF value</td>
                          <td class='anag-value'>{{ '%.2f'| format(val.dcf_fair_value|float) }} {{ val.info["currency"] }}</td>
                          {%- if val.dcf_return > 0 -%}
                            <td class='positive-value'>{{ '%.0f'| format(val.dcf_return|float) }} %</td>
                          {%- else -%}
                            <td class='negative-value'>{{ '%.0f'| format(val.dcf_return|float) }} %</td>
                          {%- endif -%}
                        </tr>
                      {%- endif -%}
                    </tbody>
                  </table>
                {%- else -%}
                  <div class="warning-msg">No valuations available</div>
                {%- endif -%}

              </div>
            </div>

            <!-- SECOND COLUMN -->
            <div class="container-normal">
              <div class="section-box">

                <div class="first-section-header">Valuations</div>

                <!-- Dividends -->
                {%- if val.is_dividend_payer -%}
                  <div class="sub-section-header">Dividends</div>
                  {%- if val.is_dividend_suspended -%}
                    <div class="warning-msg">Dividend looks suspended</div>
                  {%- endif -%}

                  <table class="simple">
                    <tbody>
                      <tr>
                        <td class='anag-prop'># per year</td><td colspan="2" class='anag-value'>{{ val.freq_div }}</td>
                      </tr>
                      <tr>
                        <td class='anag-prop'></td>
                        <td class='anag-prop' style="text-align: center;">Value</td>
                        <td class='anag-prop' style="text-align: center;">Yield</td>
                      </tr>
                      <tr>
                        <td class='anag-prop'>YTD</td><td class='anag-value'>{{ '%.2f'| format(val.ytd_yrl_div|float) }}</td><td class='anag-value'>{{ '%.2f'| format(val.ytd_yrl_yield|float) }}%</td>
                      </tr>
                      <tr>
                        <td class='anag-prop'>Last year</td><td class='anag-value'>{{ '%.2f'| format(val.last_yrl_div|float) }}</td><td class='anag-value'>{{ '%.2f'| format(val.last_yrl_yield|float) }}%</td>
                      </tr>
                    </tbody>
                  </table>

                {%- else -%}
                  <div class="warning-msg">Not a dividend payer</div>
                {%- endif -%}

                <!-- Alerts -->
                <div class="section-header">Alerts</div>
                <div style="text-align:center">
                  {%- if val.alerts_table -%}
                    {{ val.alerts_table }}
                  {%- else -%}
                    <div class="warning-msg">No alerts triggered</div>
                  {%- endif -%}
                </div>

              </div>
            </div>
          </div>

          <div class="container-large">
            <div class="container-normal">
              <img src="{{ val.img_ma_plot }}" alt="MA crosses" class="normal-plot">
            </div>
            <div class="container-normal">
              {{ val.stats }}
              <img src="{{ val.img_prices_long }}" alt="Price history vs benchmark" class="normal-plot">
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>

  </body>
</html>





