<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Report NFPY</title>
  </head>
  <body>
    <!-- TITLE -->
    <a name="head"></a>
    <div class="header">
      <div class="titleBox">
        <h1>{{ title }}</h1>
        <a name="main_title" href="index.html">Index</a>
        <hr>
      </div>

      <!-- UIDs list -->
      <div class="uidList">
        <h3><a name="uidList_link"></a>List of UIDs</h3>
        <div class="uidListMultiCol">
          {%- for ticker, val in res.items()|sort -%}
          <a href="#{{ ticker }}">{{ ticker }}</a> - {{ val.info["description"] }}<br>
          {%- endfor -%}
        </div>
        <hr>
      </div>
    </div>

    <!-- REPORTS -->
    <div class="reportBody">
      <div class="titleReport">
        <h3>Report</h3>
      </div>

      <!-- Equities -->
      {%- for ticker, val in res.items()|sort -%}
      <div class="base-container">
        <div class="container-link">
          <hr class="light">
          <h4><a name="{{ ticker }}"></a><a href="#head">Top</a> - {{ val.info["description"] }}</h4>
        </div>

        <!-- Market model -->
        <div class="container-small">
          <div class="container-normal">
            <table class="simple">
              <thead>
                <tr>
                  <th colspan="2">General data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class='anag-prop'>Isin</td><td class='anag-value'>{{ val.info["isin"] }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Company</td><td class='anag-value'>{{ val.info["company"] }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Name</td><td class='anag-value'>{{ val.info["description"] }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Index</td><td class='anag-value'>{{ val.info["index"] }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Country</td><td class='anag-value'>{{ val.info["country"] }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Currency</td><td class='anag-value'>{{ val.info["currency"] }}</td>
                </tr>
                <tr>
                  <td colspan="2" class="section-sep">Performance</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Date</td><td class='anag-value'>{{ val.last_price_date }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Last price</td><td class='anag-value'>{{ '%.2f'| format(val.last_price|float) }} {{ val.info["currency"] }}</td>
                </tr>
                {%- if val.freq_div != 0 -%}
                <tr>
                  <td colspan="2" class="section-sep">Dividends</td>
                </tr>
                <tr>
                  <td class='anag-prop'># per year</td><td class='anag-value'>{{ val.freq_div }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>YTD</td><td class='anag-value'>{{ '%.2f'| format(val.ytd_yrl_div|float) }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Yield YTD</td><td class='anag-value'>{{ '%.2f'| format(val.ytd_yrl_yield|float) }}%</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Last year</td><td class='anag-value'>{{ '%.2f'| format(val.last_yrl_div|float) }}</td>
                </tr>
                <tr>
                  <td class='anag-prop'>Yield Last year</td><td class='anag-value'>{{ '%.2f'| format(val.last_yrl_yield|float) }}%</td>
                </tr>
                {%- endif -%}
              </tbody>
            </table>
          </div>
          <div class="container-normal">
            <div style="text-align:center">
              {{ val.alerts_table }}
            </div>
            <div style="text-align:center">
              <table class="simple">
                <thead>
                  <tr>
                    <th colspan="3">Valuations</th>
                  </tr>
                </thead>
                <tbody>
                  {%- if val.has_ddm -%}
                  <tr>
                    <td colspan="3" class="section-sep">Dividend Discount Model</td>
                  </tr>
                  <tr>
                    <td class='anag-prop'>Cost of equity</td><td colspan="2" class='anag-value'>{{ '%.2f'| format(val.ddm_ke|float) }} %</td>
                  </tr>
                  <tr>
                    <td class='anag-prop'> -> including premium</td><td colspan="2" class='anag-value'>{{ '%.2f'| format(val.ddm_premium|float) }} %</td>
                  </tr>
                  <tr>
                    <td class='anag-prop'>LT growth</td><td colspan="2" class='anag-value'>{{ '%.2f'| format(val.ddm_lt_g|float) }} %</td>
                  </tr>
<!--                  <tr>-->
<!--                    <td colspan="3" class="section-sep">Implied results</td>-->
<!--                  </tr>-->
                  <tr>
                    <td class='anag-prop'>Impl. cost of equity</td><td colspan="2" class='anag-value'>{{ '%.2f'| format(val.ddm_im_ke|float) }} %</td>
                  </tr>
                  <tr>
                    <td class='anag-prop'>Impl. LT premium</td><td colspan="2" class='anag-value'>{{ '%.2f'| format(val.ddm_im_lt_prm|float) }} %</td>
                  </tr>
                  <tr>
                    <td class='anag-prop'>Impl. ST premium</td><td colspan="2" class='anag-value'>{{ '%.2f'| format(val.ddm_im_st_prm|float) }} %</td>
                  </tr>
                  {%- endif -%}
                  {%- if val.has_dcf -%}
                    <tr>
                      <td colspan="3" class="section-sep">Discounted Cash Flow</td>
                    </tr>
                    <tr>
                      <td class='anag-prop'>Cost of equity</td><td colspan="2" class='anag-value'>{{ '%.2f'| format(val.dcf_coe|float) }} %</td>
                    </tr>
                    <tr>
                      <td class='anag-prop'>Cost of debt</td><td colspan="2" class='anag-value'>{{ '%.2f'| format(val.dcf_cod|float) }} %</td>
                    </tr>
                    <tr>
                      <td class='anag-prop'>WACC</td><td colspan="2" class='anag-value'>{{ '%.2f'| format(val.dcf_wacc|float) }} %</td>
                    </tr>
                  {%- endif -%}
                  <tr>
                    <td colspan="3" class="section-sep">Valuations</td>
                  </tr>
                  <tr>
                    <td class='anag-prop'></td><td class='anag-prop'>FV</td><td class='anag-prop'>Return</td>
                  </tr>
                  {%- if val.has_ddm -%}
                    <tr>
                      <td class='anag-prop'>DDM No growth</td><td class='anag-value'>{{ '%.2f'| format(val.ddm_res_no_gwt["fv"]|float) }} {{ val.info["currency"] }}</td><td class='anag-value'>{{ '%.2f'| format((val.ddm_res_no_gwt["ret"]*100)|float) }} %</td>
                    </tr>
                    {%- if "ddm_res_manual" in val -%}
                    <tr>
                      <td class='anag-prop'>DDM Manual growth</td><td class='anag-value'>{{ '%.2f'| format(val.ddm_res_manual["fv"]|float) }} {{ val.info["currency"] }}</td><td class='anag-value'>{{ '%.2f'| format((val.ddm_res_manual["ret"]*100)|float) }} %</td>
                    </tr>
                    {%- endif -%}
                    {%- if "ddm_res_hist" in val -%}
                    <tr>
                      <td class='anag-prop'>DDM Hist growth</td><td class='anag-value'>{{ '%.2f'| format(val.ddm_res_hist["fv"]|float) }} {{ val.info["currency"] }}</td><td class='anag-value'>{{ '%.2f'| format((val.ddm_res_hist["ret"]*100)|float) }} %</td>
                    </tr>
                    {%- endif -%}
                    {%- if "ddm_res_roe" in val -%}
                    <tr>
                      <td class='anag-prop'>DDM ROE growth</td><td class='anag-value'>{{ '%.2f'| format(val.ddm_res_roe["fv"]|float) }} {{ val.info["currency"] }}</td><td class='anag-value'>{{ '%.2f'| format((val.ddm_res_roe["ret"]*100)|float) }} %</td>
                    </tr>
                    {%- endif -%}
                    {%- if "ddm_res_booth" in val -%}
                    <tr>
                      <td class='anag-prop'>DDM Booth growth</td><td class='anag-value'>{{ '%.2f'| format(val.ddm_res_booth["fv"]|float) }} {{ val.info["currency"] }}</td><td class='anag-value'>{{ '%.2f'| format((val.ddm_res_booth["ret"]*100)|float) }} %</td>
                    </tr>
                    {%- endif -%}
                  {%- endif -%}
                  {%- if val.has_dcf -%}
                    <tr>
                      <td class='anag-prop'>DCF FCFF value</td><td class='anag-value'>{{ '%.2f'| format(val.dcf_fair_value|float) }} {{ val.info["currency"] }}</td><td class='anag-value'>{{ '%.2f'| format(val.dcf_return|float) }} %</td>
                    </tr>
                  {%- endif -%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="container-large">
          <div class="container-normal">
            <img src="{{ val.img_ma_plot }}" alt="MA crosses" class="normal-plot">
          </div>
          <div class="container-normal">
            {{ val.stats }}
            <img src="{{ val.img_prices_long }}" alt="Price history vs benchmark" class="normal-plot">
          </div>
        </div>
      </div>
      {%- endfor -%}
    </div>

  </body>
</html>
