{% set current_asset_info = current_asset_dict["info"] %}
<table>
  <tr>
    <td>Name: {{ current_asset_info["name"] }}</td>
    <td>Currency: {{ current_asset_info["currency"] }}</td>
    <td>Benchmark: {{ current_asset_info["benchmark"] }}</td>
  </tr>
  <tr>
    <td>Description: {{ current_asset_info["description"] }}</td>
    <td>Inception: {{ current_asset_info["inception_date"].strftime('%Y-%m-%d') }}</td>
    <td># Constituents: {{ current_asset_info["num_constituents"] }}</td>
  </tr>
</table>

{%- if "MPDM" in current_asset_dict %}
  {% set current_model_res = current_asset_dict["MPDM"] %}
  {%- include 'MPDM.html' with context -%}
{%- endif -%}

{%- if "PtfOptimization" in current_asset_dict %}
  {% set current_model_res = current_asset_dict["PtfOptimization"] %}
  {%- include 'PtfOptimization.html' with context -%}
{%- endif -%}

{%- if "TRD" in current_asset_dict %}
  {% set current_model_res = current_asset_dict["TRD"] %}
  {%- include 'TRD.html' with context -%}
{%- endif -%}
