<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Report NFPY</title>
  </head>
  <body>
    <!-- TITLE -->
    <h1><a name="pageTop"></a>{{ title }}</h1>
    <a href="index.html">Index</a>
    <hr class="shadow">

    <!-- UIDs list -->
    <h3>List of UIDs</h3>
    {%- for uid, val in res.items()|sort -%}
      <a href="#{{ uid }}">{{ uid }}</a> - {{ val.info["description"] }}<br>
    {% endfor -%}
    <hr>

    <!-- REPORTS -->
    <h2>Reports</h2>

    <!-- Portfolios -->
    {%- for uid, val in res.items()|sort -%}
      <hr class="light">
      <a name="{{ uid }}"></a><h4><a href="#uidList">Top</a> - {{ uid }}</h4>

      <!-- Portfolio performance -->
      <table>
        <tr>
          <td>Name: {{ val.info["name"] }}</td>
          <td>Currency: {{ val.info["currency"] }}</td>
          <td>Benchmark: {{ val.info["benchmark"] }}</td>
        </tr>
        <tr>
          <td>Description: {{ val.info["description"] }}</td>
          <td>Inception: {{ val.info["inception_date"].strftime('%Y-%m-%d') }}</td>
          <td># Constituents: {{ val.info["num_constituents"] }}</td>
        </tr>
      </table>

      <div>
        <img src="{{ val.img_prices }}" alt="Full history of prices" class="price-full-h">
      </div>

      <div>
        <p>Last price: {{ '%.3f' | format(val.last_price|float) }} {{ val.info["currency"] }} @ {{ val.last_price_date }}</p>
        <p>{{ val.stats }}</p>
      </div>
      <div>
        <p>Note:<br>cost (FX): cost in the currency of the position calculated as alp * quantity<br>
        value (Base Currency): value of the position at the current date in the base currency </p>
        <p>{{ val.cnsts_data }}</p>
      </div>

      <!-- Portfolio optimization -->
      <h5>Portfolio Optimization</h5>
      <div>
        <img src="{{ val.var_ret_plot }}" alt="Portfolio optimization" class="ptf-opt">
      </div>

      <div>
        <p>Weights obtained in the optimization and relative variation wrt to the actual weights</p>
        <p>{{ val.weights }}</p>
      </div>
      <div>
        <p>Correlation matrix of the constituents over the period considered for the optimization</p>
        <p>{{ val.corr }}</p>
      </div>

    {%- endfor -%}
    <hr>

  </body>
</html>
