* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* neutral */
    --white: #fff;
    --light-gray: #dadada;
    --gray: #808080;
    --dark-gray: #303030;
    /* green */
    --light-green: #afdba7;
    --green: #86c979;
    --dark-green: #193E12;
    /* red */
    --light-red: #ebb2b2;
    --red: #cd3c3c;
    --dark-red: #721d1d;
    /* blue */
    --light-blue: #b8c7e0;
    --blue: #4c72b0;
    --dark-blue: #253756;
    /* yellow */
    --light-amber: #ffe085;
    --amber: #ffc100;
    --dark-amber: #8f6b00;
}
html {
    background-color: var(--white);
}
body {
    min-height: 100vh;
    max-width: 80%;
    min-width: 2000px;
    margin: auto;
    background-color: var(--white);
    position: relative;
    font-family: "Inter-Regular",system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 0.875em;
    text-rendering: optimizeLegibility;
}
h1 { 
    display: block;
    font-size: 2.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #162743
}
h2 { 
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #162743
}
h3 { 
    display: block;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #162743
}
a {
    color: var(--blue);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #9d2c1d;
    text-decoration: none;
}
td.section-sep {
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    font-variant: small-caps;
}
td.anag-prop {
    padding: 3px;
    padding-right: 20px;
    vertical-align: middle;
    text-align: left;
    font-style: italic;
}
td.anag-value {
    padding: 3px;
    vertical-align: middle;
    text-align: right;
}
td.anag-description {
    font-size: 0.75em;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
}
td.positive-value {
    background-color: var(--light-green);
    color: var(--dark-green);
    padding: 3px;
    vertical-align: middle;
    text-align: right;
}
td.negative-value {
    background-color: var(--light-red);
    color: var(--dark-red);
    padding: 3px;
    vertical-align: middle;
    text-align: right;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.dataframe {
    border-collapse: collapse;
    border: 1px solid var(--gray);
    margin: 5px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: compact;
    margin-left: auto;
    margin-right: auto;
}
.dataframe thead tr {
    background-color: var(--gray);
    color: var(--white);
    text-align: left;
}
.dataframe th,
.dataframe td {
    padding: 6px 8px;
    border: 1px solid var(--gray);
    text-align: center;
}
.dataframe tbody tr:nth-of-type(even) {
    background-color: var(--light-gray);
}
.dataframe tbody tr:hover {
    font-weight: bold;
    color: var(--dark-gray);
    /*color: #177d02;*/
}
table.dataframe tbody td span.nval {
    color: #9d2c1d;
    text-decoration: none;
}
img {
    /*width: 25%;
    min-width: 600px;*/
    object-fit: contain;
    /*overflow: hidden;*/
    display: block;
    /*position: relative;*/
}
img.normal-plot {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.small-plot {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.matrix {
    border-collapse: collapse;
    border: 1px solid var(--gray);
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: compact;
    margin-left: auto;
    margin-right: auto;
}
.matrix thead tr,
.matrix tbody th {
    background-color: #dcdada;
    text-align: center;
}
.matrix th,
.matrix td {
    padding: 6px 8px;
    border: 1px solid var(--gray);
    text-align: center;
}
.matrix tbody tr:hover {
    font-weight: bold;
}
hr {
    display: block;
    border-top: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
    /*margin-block-start: 0.5em;*/
    /*margin-block-end: 0.5em;*/
    /*margin-inline-start: auto;*/
    /*margin-inline-end: auto;*/
    /*border-top-style: inset;*/
    /*border-top-width: 1px;*/
    margin-top: 20px;
    margin-bottom: 20px;
}
hr.shadow {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px var(--blue) inset;
}
div.uidListMultiCol {
    column-count: 5;
    column-gap: 20px;
}
div.spacer {
    display: inline-block;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}
div.base-container {
    display: inline-block;
    width: 100%;
}
div.container-link {
    max-width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.container-tiny {
    width: 25%;
    max-width: 25%;
    margin 10px;
    float: left;
}
div.container-small {
    width: 33.3%;
    max-width: 33.3%;
    margin 10px;
    float: left;
}
div.container-normal {
    width: 50%;
    max-width: 50%;
    margin 10px;
    float: left;
}
div.container-large {
    width: 66.6%;
    max-width: 66.6%;
    margin 10px;
    float: left;
}
div.container-huge {
    width: 75%;
    max-width: 75%;
    margin 10px;
    float: left;
}
table.simple {
    /*border: 1px solid var(--gray);*/
    /*border-collapse: collapse;*/
    display: compact;
    /*margin: 5px;*/
    margin-left: auto;
    margin-right: auto;
    padding: .2em .2em .2em .2em;
}
table.simple th {
    border: 0px;
    font-weight: bold;
    padding: .25em .05em .25em .05em;
    text-align: center;
    vertical-align: middle;
}
div.section-header {
    background: var(--blue);
    border: 0px;
    color: var(--white);
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 15px;
    padding: .25em 0 .25em 0;
    text-align: center;
    vertical-align: middle;
}
div.first-section-header {
    background: var(--blue);
    border: 0px;
    color: var(--white);
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 0px;
    padding: .25em 0 .25em 0;
    text-align: center;
    vertical-align: middle;
}
div.sub-section-header {
    background: var(--light-gray);
    border: 0px;
    font-weight: bold;
    margin-top: 15px;
    padding: .25em 0 .25em 0;
    text-align: center;
    vertical-align: middle;
}
div.section-box {
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: .5em .5em .5em .5em;
    width: auto;
}
div.ok-msg {
    background-color: var(--light-green);
    color: var(--dark-green);
    /*display: table;*/
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: .2em .5em .2em .5em;
    text-align: center;
    width: inherit;
}
div.warning-msg {
    background-color: var(--light-amber);
    color: var(--dark-amber);
    /*display: table;*/
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: .2em .5em .2em .5em;
    text-align: center;
    width: inherit;
}
div.error-msg {
    background-color: var(--light-red);
    color: var(--dark-red);
    /*display: table;*/
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: .2em .5em .2em .5em;
    text-align: center;
    width: inherit;
}
div.rag-green {
    background: var(--light-green);
    border-radius: 0.5rem;
    color: var(--dark-green);
    padding: 0.5rem 0.5rem;
    text-align: center;
    vertical-align: middle;
}
div.rag-amber {
    background: var(--light-amber);
    border-radius: 0.5rem;
    color: var(--dark-amber);
    padding: 0.5rem 0.5rem;
    text-align: center;
    vertical-align: middle;
}
div.rag-red {
    background: var(--light-red);
    border-radius: 0.5rem;
    color: var(--dark-red);
    padding: 0.5rem 0.5rem;
    text-align: center;
    vertical-align: middle;
}