{% set current_asset_info = current_asset_dict["info"] %}
<table>
  <tr>
    <td>Description: {{ current_asset_info["description"] }}</td>
    <td>Currency: {{ current_asset_info["currency"] }}</td>
  </tr>
  <tr>
    <td>Asset class: {{ current_asset_info["asset_class"] }}</td>
    <td>Area: {{ current_asset_info["area"] }}</td>
  </tr>
</table>

{%- if "MADM" in current_asset_dict %}
  {% set current_model_res = current_asset_dict["MADM"] %}
  {%- include 'MADM.html' with context -%}
{%- endif -%}

{%- if "TRD" in current_asset_dict %}
  {% set current_model_res = current_asset_dict["TRD"] %}
  {%- include 'TRD.html' with context -%}
{%- endif -%}
